<div class="nav">
  <div>
      <!--  logged in nav -->

    <img id=icon src="/res/Loggedinicon.png" alt="">
    Watch you watchin<!-- name -->?

  </div>
  <div id="nav-links">
    <a href="/"><img id=icon src="/res/homeicon.png" alt="">Home</a>
    <a href="/"><img id=icon src="/res/logouticon.png" alt="">Logout </a>

    <!-- no logged in nav -->
    <a href="/signup"><img id=icon src="/res/Loggedinicon.png" alt="">Login </a>

    <a href="/login"><img id=icon src="/res/signup.png" alt="">Sign Up </a>

    </div>
</div>

  c
