<div class="nav">
  <div>
    <img id=icon src="/res/Loggedinicon.png" alt="">
    Watch you watchin?
  </div>
  <div>
    <a href="/"><img id=icon src="/res/homeicon.png" alt="">Home</a>
    <a href="/"><img id=icon src="/res/logouticon.png" alt="">Logout </a>
    </div>
</div>

  
