<<<<<<< HEAD
<!-- header -->

<header>
   
</header>
=======
<div class="nav">
  <div>
    <img id=icon src="/res/Loggedinicon.png" alt="">
    Watch you watchin?
  </div>
  <div>
     <img id=icon src="/res/homeicon.png" alt="">
       Home
      <img id=icon src="/res/logouticon.png" alt="">
     Logout 
    </div>
</div>
>>>>>>> f950cadbb39e7fa2efe2a62c1ba1d1904eab81a2
