<script src="/res/js/username.js" defer></script>
<div class="nav">
  <% if(userId) { %>
  <div>
      <!--  logged in nav -->
    <div id="userName"><img id=icon src="/res/Loggedinicon.png" alt=""></div>
    
  </div>
  <div id="nav-links">
    <a href="/"><img id=icon src="/res/homeicon.png" alt="">Home</a>
    <a href="/logout"><img id=icon src="/res/logouticon.png" alt="">Logout </a>
    </div>
</div>
<% } else { %>
  <div>
    <!--  logged in nav -->
  <div></div>
  
</div>
  <div id="nav-links">
   
     <!-- no logged in nav -->
     <a href="/login"><img id=icon src="/res/Loggedinicon.png" alt="">Login </a>

     <a href="/signup"><img id=icon src="/res/signup.png" alt="">Sign Up </a>
    </div>

    <% } %>
    
</div>


