<!-- details page -->

<script src="/res/js/details.js" defer></script>
<script src="/res/js/rating.js" defer></script>

<img id="detaillogo" src="res/Blue Photo Movie Ticket.png" alt="Movie buff logo" >

<div id="poster"></div>
<div id="movieinfo">
    <h2 id= "movietext"> Info from TV flex </h2>
<div id="overview"></div>
<iframe id="frame"></iframe>
<div class="rating">
    <h3>RATE THIS FLIM: </h3>
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
</div> 
</div>
