<!-- details page -->

<!-- login page -->
<script src="/res/js/details.js" defer></script>
<script src="/res/js/rating.js" defer></script>
<input type="hidden" id="movieId" value="<%= movieId %>">
<h3 id="movieTitle"></h3>
<h2 id="genre"></h2>
<div id="overview"></div>
<div id="poster"></div>
<iframe width="420" height="315"></iframe>
<p>RATE THIS FLIM: </p>
<div class="rating">
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
    <i class="rating__star far fa-star"></i>
</div> 
