<!-- homepage -->

<img id="homelogo" src="/res/Blue Photo Movie Ticket.png" alt="Movie buff logo" >


    <!-- searchbar -->
            <div class="searchbar">
              <div class="col-md-8">
                <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Search by title"> <button class="btn btn-primary">Search</button> </div>
            </div>
            <div class ="minibar">
                <div>
                    <a href="#">Newest</a>                </div>
                <div>
                    <a href="#">Popular</a>    
                </div>
                <div>
                    <a href="#">Featured</a>    
                </div>
        </div>
        </div>
        

 



<div class="Moviegrid">
    <div class="moviecard">
        <div class="row1">
         <div class="col">
        Movie 1
          </div>
        <div class="col">
        Movie 2
        </div>
        <div class="col">
        Movie 3
         </div>
        <div class="col">
        Movie 4
        </div>
        <div class="col">
            Movie 5
            </div>
            <div class="col">
                Movie 6
                </div>
                <div class="col">
                    Movie 7
                    </div>
                    <div class="col">
                        Movie 8
                        </div>
    </div>
  </div>

  <div class="moviecard">
    <div class="row1">
      <div class="col">
        Movie 1
      </div>
      <div class="col">
        Movie 2
      </div>
      <div class="col">
        Movie 3
      </div>
      <div class="col">
        Movie 4
      </div>
      <div class="col">
        Movie 5
        </div>
        <div class="col">
            Movie 6
            </div>
    </div>
</div>
    

  <div class="moviecard">
    <div class="row1">
      <div class="col">
        Movie 1
      </div>
      <div class="col">
        Movie 2
      </div>
      <div class="col">
        Movie 3
      </div>
      <div class="col">
        Movie 4
      </div>
      <div class="col">
        Movie 5
        </div>
        <div class="col">
            Movie 6
            </div>
            <div class="col">
                Movie 7
                </div>
                <div class="col">
                    Movie 8
                    </div>
    </div>
  </div>
</div>