<!-- homepage -->
<script src="/res/js/search.js" defer></script>
<img id="homelogo" src="/res/Blue Photo Movie Ticket.png" alt="Movie buff logo" >


    <!-- searchbar -->
    <div class="searchbar">      
      <div class ="minibar">
                <div>
                    <a href="#">Newest</a>               
                 </div>
                <div>
                    <a href="#">Popular</a>    
                </div>
                <div>
                    <a href="#">Featured</a>    
                </div>
        </div>
        <div class ="search">
          <input type="text" placeholder="I am searching for..." id="findMovie">
        </div> 
        <div>
       </div>
        <div class="dropdown">
          <button id="genreBtn" class="dropbtn">Genre <i class="arrow down"></i></button>
          <div id="genreDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="genreSearch">
          </div>
        </div> 
      </div>
<<<<<<< HEAD
        

<section>
    <div class="banner"></div>
        <button><h1 id="popular">Popular</h1></button>
        <button><h1 id="top_rated">Top Rated</h1></button>
        <button><h1 id="upcoming">Upcoming</h1></button>
</section>


=======
      
>>>>>>> 9d339581a97dab925a6aef48f78777652760af57

<div class="Moviegrid">
    <div class="moviecard">
      <!-- <div class="row1">
         <div class="col">
<<<<<<< HEAD
        Movie 1
          </div>
        <div class="col">
        Movie 2
        </div>
        <div class="col">
        Movie 3
         </div>
        <div class="col">
        Movie 4
    <div>

    </div>

</section>









        </div>
        <div class="col">
            Movie 5
            </div>
            <div class="col">
                Movie 6
                </div>
                <div class="col">
                    Movie 7
                    </div>
                    <div class="col">
                        Movie 8
                        </div>
    </div>
  </div>

  <div class="moviecard">
    <div class="row1">
      <div class="col">
        Movie 1
      </div>
      <div class="col">
        Movie 2
      </div>
      <div class="col">
        Movie 3
      </div>
      <div class="col">
        Movie 4
      </div>
      <div class="col">
        Movie 5
        </div>
        <div class="col">
            Movie 6
            </div>
    </div>
</div>
    
=======
>>>>>>> 9d339581a97dab925a6aef48f78777652760af57

          </div>
      </div> -->
      
  </div>
</div>
