<!-- homepage -->



<img id="loginlogo" src="/res/Blue Photo Movie Ticket.png" alt="Movie buff logo" >


<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search"><input type="text" class="form-control" placeholder="I am searching for...." src="fa fa-search"></div>
        </div>
    </div>
</div>

<section>
    <div class="banner"></div>
        <button><h1 id="popular">Popular</h1></button>
        <button><h1 id="top_rated">Top Rated</h1></button>
        <button><h1 id="upcoming">Upcoming</h1></button>
</section>


<section>

    <div class="movies">

    </div>

</section>









