<!-- homepage -->

<div class="nav">
    <div>
      <img id=icon src="/res/Loggedinicon.png" alt="">
      Watch you watchin?
    </div>
    <div>
        <a href = "login">
      <img id=icon src="/res/homeicon.png" alt=""> Login</a>

      <a href = "signup">
        <img id=icon src="/res/logouticon.png" alt="">
       Sign In </a>
      </div>
  </div> 
  
    
  

<img id="homelogo" src="/res/Blue Photo Movie Ticket.png" alt="Movie buff logo" >


    <!-- searchbar -->
    <div class="searchbar">      
      <div class ="minibar">
                <div>
                    <a href="#">Newest</a>               
                 </div>
                <div>
                    <a href="#">Popular</a>    
                </div>
                <div>
                    <a href="#">Featured</a>    
                </div>
        </div>
        <div class ="search">
          <input type="text" placeholder="I am searching for..." id="findMovie">
      </div>
      </div>
      

<div class="Moviegrid">
    <div class="moviecard">
        <div class="row1">
         <div class="col">
        Movie 1
          </div>
        <div class="col">
        Movie 2
        </div>
        <div class="col">
        Movie 3
         </div>
        <div class="col">
        Movie 4
    <div>

    </div>
        </div>
        <div class="col">
            Movie 5
            </div>
            <div class="col">
                Movie 6
                </div>
                <div class="col">
                    Movie 7
                    </div>
                    <div class="col">
                        Movie 8
                        </div>
    </div>
  </div>

  <div class="moviecard">
    <div class="row1">
      <div class="col">
        Movie 1
      </div>
      <div class="col">
        Movie 2
      </div>
      <div class="col">
        Movie 3
      </div>
      <div class="col">
        Movie 4
      </div>
      <div class="col">
        Movie 5
        </div>
        <div class="col">
            Movie 6
            </div>
    </div>
</div>
    

  <div class="moviecard">
    <div class="row1">
      <div class="col">
        Movie 1
      </div>
      <div class="col">
        Movie 2
      </div>
      <div class="col">
        Movie 3
      </div>
      <div class="col">
        Movie 4
      </div>
      <div class="col">
        Movie 5
        </div>
        <div class="col">
            Movie 6
            </div>
            <div class="col">
                Movie 7
                </div>
                <div class="col">
                    Movie 8
                    </div>
    </div>
  </div>
</div>
