<!-- login page -->
<div class ="img-fluid">
<img id="bg" src="res/poster.jpg" >
    <div class="form_container">
    <form action="/login" method="POST">
       
            <div id ="signin">
            <img id="loginlogo" src="res/Blue Photo Movie Ticket.png" alt="Movie buff logo" >
            <input id="email" name="email" type="email" placeholder="Enter Email">    
            <input id="password" name="password" type="password" placeholder="Enter Password">
            </div>
            <div class="sub-button">
            <button id="submit" type="submit">Login</button>
                <div id="signup">
               <p>Don't have an account?</p><a href="/signup" class="signup" > Sign up!</a>
                 </div>
            </div> 
    </form>
    <div id="err-message">
        <% if(message) { %>
            <p>* <%= message %></p>
        <% } %>
    </div>
    </div>
</div>