<!-- login page -->

<section id="form_container">
    <h1>LOGIN </h1>
    <form action="/login" method="POST">
        <div id="err-message">
            <% if(message) { %>
                <p>* <%= message %></p>
            <% } %>
        </div>
        <div>
            <label for="email">Email: </label>
            <input id="email" name="email" type="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" name="confirmPassword" type="password">
        </div>
        <div class="sub-button">
            <button id="submit" type="submit">Login</button>
        </div>
        <h5><a href="/signup" class="signup" >Sign up</a></h5>
    </form>
</section>