<!-- signup page -->
<div class ="bg-img">
    <img id="bg" src="res/poster.jpg" >
<div class="form_container">
    <form action="/signup" method="POST">
        <div id ="signin">
        <img id="loginlogo" src="res/Blue Photo Movie Ticket.png" alt="Movie buff logo" >
        <h2>Join Movie Buff</h2>
        <img id="followers" src="res/followers.png">
        <p>Join these and 10,000 other movie lovers</p>
            <input id="firstname" name="first_name" type="text" placeholder="Enter First Name">
            <input id="lastname" name="surname" type="text" placeholder="Enter Last Name">
            <input id="email" name="email" type="email" placeholder="Enter Email">
            <input id="password" name="password" type="password" placeholder="Enter Password">
            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password">
        <div class="sub-button">
            <button id="submit" type="submit">Join Movie Buff</button>
        </div>
        </div>
        <form action="/signup" method="POST">
            <div id="err-message">
                <% if(message) { %>
                    <p>* <%= message %></p>
                <% } %>
    </form>
</div>        
</div>