/* styles page */ 
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

/* styles page */
/* body {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
 } */

body {
   height: 100vh;
   background-color: black;
}
 .rating {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 95%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }



 /* Login Page */
 .form_container {
background: black;
top: 50%;
left: 50%;
 width: 492px;
    position: fixed;
    transform: translate(-50%, -50%);
    height: 650px;
 }

#loginlogo {
   width: auto;
   height: 95px;
   margin-bottom: 40px;
   }


   #detaillogo {
      width: auto;
      height: 95px;
      margin: 30px;

      }
   


#signin {
   position: relative;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   width: 65%;
   margin-left: auto;
text-align: center;
   margin-right: auto;
   color: white;
}

input[type= password] {
   width: 100%;
   height: 10px;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border: none;
   background-color: #C4C4C4;
   border-radius: 10px;

 }

input[type= email] {
   width: 100%;
   height: 10px;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border: none;
   background-color: #C4C4C4;
   border-radius: 10px;

 }
 
 input[type= text] {
   width: 100%;
   height: 10px;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border: none;
   background-color: #C4C4C4;
   border-radius: 10px;

 }

.sub-button {
   padding-top: 10px;
   text-align: center;   

}

#submit {
   width: 200px;
   background-color: blue;
   color: white;
   border-radius: 10px;


}

p {
   color: white;
   text-align: center;
   padding-top: 10px;

}
.signup {
   color: blue;
   
}

#signup {
   padding-bottom: 20px;

}
   
#bg {
   width: 100%;
  height: 100vh;
}






 .nav {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   background-color: #FFDE59;
   
 }
 
 .nav > div {
   margin: 10px;
   font-size: 20px;
 }

 #icon {
    width: 40px;
    height: 40px;
   margin-left: 10px;
margin-right: 10px;
 }

 #details {
   display: flex;
}

#overview {
   margin-top: 30px;
   font-size: 20px;
   width: 90%;
   margin-bottom: 30px;
}


#movieinfo {
   margin-left: 30px;
   margin-bottom: 30px;
   background-color: white;
   padding-left: 30px;
   width: 60%;
   height: 700px;
   display: flex;
   flex-direction: column;
   text-align: center;
   border-radius: 20px;

}

#frame {
   background-color: #CCD1DB;
   padding: 10px;
   border-radius: 20px;
   width: 95%;
   height: 100%
}

#movietext {
   padding-top: 20px;
   text-align: center;
}


#poster div img {
height: 705px;
width: 500px;
border-radius: 20px;
margin-bottom: 50px;
margin-left: 100px;
border: 5px solid white

}


/* Homepage */

#homelogo {
   display: block;
   height: 40%;
   padding: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.bar {
   display: flex;
   justify-content: space-evenly
   
}

.minibar {
   background-color: grey;
   display: flex;
   width: 20%;
   justify-content: space-around;
   border-radius: 20px;
   height: 50px;
   padding-top: 10px;
   margin-top: 10px;
   


}

.search {
   display: flex;
   text-align: center;
   width: 100%;
   padding-top: 10px;
   margin-top: 10px;
}

.searchbar {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   justify-content: space-between;
   background-color: #FFDE59;
   border-radius: 20px;
   height: 70px
   
}   

.Moviegrid {
width: 90%;
margin-left: auto;
margin-right: auto;
background-color: grey;
border-radius: 20px;
margin-top: 20px;


}

.col {
   width: 300px;
   height: 400px;
   background-color: white;
   margin: 20px;
}

.moviecard {
   display: flex;
   overflow-x: auto;
   text-align: center;

  
   
}

.row1 {
   display: flex;
}

#sicon {
   height: 100%;
}

 /* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(63, 48, 48); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
 }
 
 /* Modal Content */
 .modal-box {
   color: white;
   position: relative;
   background-color: blue;
   top: 20%;
   left: 30%;
   padding: 20px;
   border: 5px solid white;
   width: 50%;
   height: 20%;
   border-radius: 20px;
   text-align: center;
 }

 /* The Close Button */
.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
  
 .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 .search input[type= text] {
   width: 100%;
   height: 70px;
   background-color: #C4C4C4;
   border-radius: 10px;

 }